<h1>BLOG NINJA</h1>
<div class="nav-flex">
  <p class="subtitle">A NET NINJA SITE</p>

  <ul class="navlist">
    <a href="/">BLOGS</a>
    <a href="/about">ABOUT</a>
    <a href="/blogs/create">NEW BLOG</a>
  </ul>
</div>
<hr />
