<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CREATE</title>
    <%- include("./partials/style.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div>
      <h2>Create blog</h2>
      <p>Create your own post!</p>
      <div class="form">
        <div>
          <input class="post-input" type="text" placeholder="Post name" />
        </div>
        <div>
          <input type="text" class="post-input" placeholder="Post subject" />
        </div>
        <div>
          <textarea class="post-placeholder" placeholder="Post name"></textarea>
        </div>
        <button class="post-btn">Create</button>
      </div>
    </div>
  </body>
</html>
